<ion-view title="businessSelect" hide-nav-bar="true" style="">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">




    <ion-slides>
      <ion-slide-page ng-repeat="(sector, coupon) in couponList">

        <div class="categoryHead">
          <h2 style="color: rgb(255, 255, 255); text-align: center;" class="categoryHeader">{{sector}}</h2>
          <form class="list categoryForm">
            <label class="item item-input categorySearch" name="nameSearch">
              <input style="color:white;" class="categoryInput" placeholder="Search by Business Name" type="text">
            </label>
          </form>
        </div>

        <ion-scroll scrollbar-y="false" direction="y" style="height: 78vh">

          <ion-item ng-repeat="(names,coup) in coupon" class="item-thumbnail-left item-icon-right assertive" style="">
            <img src="https://images.vexels.com/media/users/3/132008/isolated/lists/78faad56af1268ad3a478fc44ec44f03-sandwich-house-logo.png">

            <h2 class="itemHeader" style="font-size:20px;font-weight:bold;font-family: arial;margin-top:3vh">{{names}}
              <p class="itemText">{{getLength(coup)}} Coupons</p>
              <a ui-sref="coupons" ng-click="passStoreData(coup,names)" style="color:salmon;">
                <i class="icon ion-chevron-right"></i>
              </a>
            </h2>

          </ion-item>


        </ion-scroll>


      </ion-slide-page>
    </ion-slides>


  </ion-content>
</ion-view>